.main {
  position: fixed;
  width: calc(100vw - 194px);
  height: calc(100vh - 300px);
  top: 300px;
  left: 194px;
  z-index: 99;
  background: #fff;
  .close {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header {
    padding: 20px;
    display: flex;
    align-items: center;
    .item {
      display: flex;
      align-items: center;
    }
    .item + .item {
      margin-left: 100px;
    }
  }
}
.loadBtn {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99999;
}
